@import "media-queries";
@import "colors";

// Note: typically fonts should be responsive for better UX. The figma designs didn't include mobile designs or fonts.
// I would usually bring this up with designer so we can work out what are the fonts for smaller resolution devices.
// Then use breakpoints in the classes below to display different fonts. However, I will leave this out in this test as the spec
// is not complete.
$primary-font: Roboto, sans-serif;
$secondary-font: "Raleway", sans-serif;

.base-font-configuration {
  font-family: $primary-font;
  color: $white;
}

.card-caption-fonts {
  @extend .base-font-configuration;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.search-text-fonts {
  @extend .base-font-configuration;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.modal-heading-fonts {
  // Note for some reason it was difficult to make out the heading font sizing
  // and configuration from Figma. Maybe an issue with the designs or my local
  // machine. But this is my attempt at making sense of it.
  font-family: $secondary-font;
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
  color: $white;

  span {
    font-family: $primary-font;
    font-size: 20px;
    // Figma says 500 but it doesn't come out as per design so I set to 400.
    font-weight: 400;
  }
}

.modal-description-fonts {
  @extend .base-font-configuration;
  font-size: 18px;
  line-height: 16px;
  font-weight: 500;
}

.modal-body-fonts {
  @extend .base-font-configuration;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}
