@import "media-queries";
@import "colors";
@import "fonts";

.figure-container {
  margin: 0;
  cursor: pointer;

  img {
    display: inline-block;
    height: 400px;
    width: 270px;
  }

  figcaption {
    @extend .card-caption-fonts;
    display: flex;
    flex-direction: column;
    color: $white;
    margin-top: 10px;
    max-width: 270px;
  }
}
