<section class="content-container">
  <!-- Display search results & pagination buttons -->
  <div class="search-result-container">
    <p>200 Results found</p>

    <div class="search-pagination-container">
      <p>Page 1 of 9</p>
      <button class="back-arrow"></button>
      <button class="forward-arrow"></button>
    </div>
  </div>

  <!-- Display list of image cards based on search -->
  <ul *ngIf="searchList$ | async as items">
    <li *ngFor="let item of items.Search; let i = index">
      <app-film-card
        [item]="item"
        [displayTitle]="displayCardTitle(i)"
      ></app-film-card>
    </li>
  </ul>
</section>
